page-login {
ion-card {
    position: relative;
    text-align: center;
  }

  .img-margins{
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .button-align{
    bottom: 0%;
    position: fixed;
    width: 100%;
  }

}