page-search {
  ion-col div {
    padding: 2px;
    text-align: center;
  }

  p {
    padding: 5px 0 0 5px !important;
    margin: 0;
  }

  .font-size{
    font-size: 12px;
    word-break: keep-all;
  }

  .top-border{
    border-top: 1px solid #488AFF;
  }
}
